

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  background: url('Assets/freepik__upload__81071.jpg') no-repeat  ;
  background-size: cover; 
  margin: 0;
  padding: 0;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}


/* Header (Top Navigation) */
.top-nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.top-nav h2 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 10px;
}



/* Logout Button */
.logout-btn {
  background: red;
  color: white;
  padding: 1px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.top-nav {
  position: fixed; /* Sticks the header at the top */
  top: 0;
  left: 0;
  width: 96.6%;
  height: 60px; /* Adjust height as needed */
 
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

 
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}




.logout-btn {
  background: red;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}
